<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta th:insert="~{/layout/_partials/meta :: headMeta(${titulo})}">
</head>

<body>
    <div th:replace="~{/layout/_partials/header :: header}" />

    <div class="container">

        <div layout:fragment="content">
            <!-- Corpo da página entra aqui -->
            <h1>Conteúdo não definido para o layout!</h1>
        </div>

                <!-- Pagination -->
        <div th:if="${totalPages > 1}">
            <ul class="pagination">
                <li th:each="pageNum : ${#numbers.sequence(0, totalPages-1)}" th:classappend="${pageNum == currentPage} ? 'active'">
                    <a class="btn btn-primary m-1 text-white" style="text-decoration: none;" th:href="@{${pagePath}(page=${pageNum})}" th:text="${pageNum}+1"></a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="logo-background text-center text-white mt-5 py-3">
        <p>&copy; 2023 Porta Declarations System</p>
    </footer>

    <script src="sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>
