<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Cadastrar Instituicao'">

<body>
    <section id="instituicoes-form" layout:fragment="content">
            
        <div class="card p-4 mt-4">
            <h1>Cadastro de Instituicao</h1>

            <div th:if="${exception != null}" th:text="${exception}" class="alert alert-danger" ></div>
            <form th:action="@{/instituicoes/create}"
            th:method="${method}"
            th:object="${instituicao}"
            class="p-2"
            style="border-radius: 16px;">
            <input type="hidden" th:field="*{id}"/>
                <div class="form-group m-2">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" class="form-control" th:field="*{nome}" />
                    <div th:if="${#fields.hasErrors('nome')}"  th:errors="*{nome}" class="alert alert-danger"></div>
                </div>

                <div class="form-group m-2">
                    <label for="sigla">Sigla:</label>
                    <input type="text" id="sigla" class="form-control" th:field="*{sigla}" />
                    <div th:if="${#fields.hasErrors('sigla')}"  th:errors="*{sigla}" class="alert alert-danger"></div>
                </div>

                <div class="form-group m-2">
                    <label for="fone">Fone:</label>
                    <input type="text" id="fone" class="form-control" th:field="*{fone}" />
                    <div th:if="${#fields.hasErrors('fone')}"  th:errors="*{fone}" class="alert alert-danger"></div>
                </div>

                <div class="form-group m-2" th:if="${method == 'PUT'}">
                    <label for="periodo">Periodos:</label>
                    <select class="form-control" id="periodo" name="periodo" th:field="*{periodoAtual}">
                        <option value="">Selecione</option>
                        <option th:each="periodo : ${periodos}" th:value="${periodo.id}" th:text="${periodo}"></option>
                    </select>
                </div>

                <div id="ActionButtons" class="mx-2 mt-4" style="display: flex; justify-content: end; gap: 0 6px;">
                    <a th:href="@{/instituicoes/list}">
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </a>
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </form>
        </div>
    </section>
</body>

</html>
