<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Cadastrar PeriodoLetivo'">


<body>

    <section id="periodoLetivo-form" layout:fragment="content">

        <div class="card p-4 mt-4">
            <h1>Cadastro de PeriodoLetivo</h1>

            <div th:if="${exception != null}" th:text="${exception}" class="alert alert-danger" ></div>
            <form th:action="@{/periodos/create}"
            method="POST"
            th:object="${periodoLetivo}"
            class="p-2"
            style="border-radius: 16px;">
            <input type="hidden" th:field="*{id}"/>
                <div class="form-group m-2">
                    <label for="Nome">Ano</label>
                    <input type="number" id="Ano" class="form-control" th:field="*{ano}" />
                    <div th:if="${#fields.hasErrors('ano')}" th:errorclass="error"  th:errors="*{ano}" class="alert alert-danger"></div>
                </div>
                <div class="form-group m-2">
                    <label for="periodo">Periodo</label>
                    <input type="number" id="periodo" class="form-control" th:field="*{periodo}" />
                    <div th:if="${#fields.hasErrors('periodo')}"  th:errors="*{periodo}" class="alert alert-danger"></div>
                </div>
                <div class="form-group m-2">
                    <label for="dataInicio">dataInicio</label>
                    <input type="date" id="dataInicio" class="form-control" th:field="*{dataInicio}" />
                    <div th:if="${#fields.hasErrors('dataInicio')}"  th:errors="*{dataInicio}" class="alert alert-danger"></div>
                </div>
                <div class="form-group m-2">
                    <label for="Nome">dataFinal</label>
                    <input type="date" id="dataFinal" class="form-control" th:field="*{dataFinal}" />
                    <div th:if="${#fields.hasErrors('dataFinal')}"  th:errors="*{dataFinal}" class="alert alert-danger"></div>
                </div>
                <div class="form-group m-2">
                    <label for="Instituicao">Instituição:</label>
                    <select class="form-control" id="Instituicao" name="instituicao" th:field="*{instituicao}">
                        <option value="">Selecione</option>
                        <option th:each="instituicao : ${instituicoes}" th:value="${instituicao.id}" th:text="${instituicao.nome}"></option>

                    </select>
                    <div th:if="${#fields.hasErrors('instituicao')}"  th:errors="*{instituicao}" class="alert alert-danger"></div>
                </div>


                <div id="ActionButtons" class="m-2" style="display: flex; justify-content: end; gap: 0 6px;">
                    <a th:href="@{/periodos/list}">
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </a>

                    <button type="submit" class="btn btn-primary">Inserir</button>
                </div>

            </form>
        </div>

        <div th:replace="~{/Validation/validation :: submitError}"></div>
    </section>
</body>

</html>
