<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Instituições'">

<body>
  <section id="periodosLetivos-table" layout:fragment="content">

    <div class="container mt-4">

        <div style="display: flex; justify-content: space-between;">
            <h1>Lista de PeriodosLetivos</h1>
            <a th:href="@{create}" style="margin: 6px;">
                <button type="button" class="btn btn-info text-light" style="padding: 8px;">Cadastrar</button>
            </a>
        </div>

        <div th:if="${mensagem}" th:text="${mensagem}" class="alert alert-success"></div>

        <table class="table">
            <thead class="bg-info">
              <tr>
                <th scope="col"><span class="text-light">Ano</span></th>
                <th scope="col"><span class="text-light">Periodo</span></th>
                <th scope="col"><span class="text-light">Instituicao</span></th>
              </tr>
            </thead>
            <tbody>

            <tr th:each="periodoLetivo : ${periodosLetivos}">
                <td th:text="${periodoLetivo.ano}"></td>
                <td th:text="${periodoLetivo.periodo}"></td>
                <td th:text="${periodoLetivo.instituicao.nome}"></td>
            </tr>
            </tbody>
          </table>
    </div>

    <div th:replace="~{/Validation/validation :: submitSuccess}"></div>
  </section>
</body>

</html>

