<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Cadastrar Estudante'">

<body>
    <section id="estudantes-form" layout:fragment="content">
        
        <div class="card p-4 mt-4">
            
            <h1>Cadastro de Estudantes</h1>

            <form th:action="@{/estudantes/store}"
            method="POST"
            th:object="${estudante}"
            class="p-2"
            style="border-radius: 16px;">

                <div class="form-group m-2">
                    <label for="Nome">Nome:</label>
                    <input type="text" id="Nome" class="form-control" th:field="*{nome}" />
                </div>

                <div class="form-group m-2">
                    <label for="Instituicao">Instituição:</label>
                    <select class="form-control" id="Instituicao" name="instituicao" th:field="*{instituicaoAtual}">
                        <option value="0">Selecione</option>
                        <option th:each="instituicao : ${instituicoes}" th:value="${instituicao.id}" th:text="${instituicao.nome}"></option>
                    </select>
                </div>

                <div id="ActionButtons" class="mx-2 mt-4" style="display: flex; justify-content: end; gap: 0 6px;">
                    <a th:href="@{list}">
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </a>
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </form>
        </div>
    </section>

</body>

</html>
