<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Cadastrar Estudante'">

<body>
    <section id="declaracoes-form" layout:fragment="content">

        <div class="card p-4 mt-4">

            <h1>Emissão de declaração</h1>
            <div th:if="${exception != null}" th:text="${exception}" class="alert alert-danger" ></div>
            <form th:action="@{/estudantes/createDeclaracao}"
            method="POST"
            th:object="${declaracao}"
            class="p-2"
            style="border-radius: 16px;">
            <input type="hidden" th:field="*{id}"/>
                <div class="form-group m-2">
                    <label for="Matricula">Matricula:</label>
                    <input th:if="${declaracao.estudante != null}" readonly type="number" id="Matricula" class="form-control" th:field="*{estudante}" />
                    <input th:unless="${declaracao.estudante != null}" type="number" id="Matricula" class="form-control" th:field="*{estudante}" />
                </div>
                <div class="form-group m-2">
                    <label for="instituicao">Periodo:</label>
                    <select class="form-control" th:field="*{periodo}">
                        <option value="">Selecione</option>
                        <option th:each="p : ${periodos}" th:value="${p.id}" th:text="${p.ano + '.' + p.periodo}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('periodo')}"  th:errors="*{periodo}" class="alert alert-danger"></div>
                </div>
                
                <div class="form-group m-2">
                    <label for="observacao">Observacao:</label>
                    <input type="text" id="observacao" th:value="${declaracao.observacao}" class="form-control" th:field="*{observacao}" />
                    <div th:if="${#fields.hasErrors('observacao')}"  th:errors="*{observacao}" class="alert alert-danger"></div>
                </div>
                
                <div id="ActionButtons" class="mx-2 mt-4" style="display: flex; justify-content: end; gap: 0 6px;">
                    <a th:href="@{/estudantes/list}">
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </a>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

            </form>
        </div>
    </section>

</body>

<script>
     document.getElementById('estudante').readOnly = true;
</script>

</html>
