<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Instituições'">

<body>
  <section id="instituicoes-table" layout:fragment="content">

    <div class="container mt-4">

        <div style="display: flex; justify-content: space-between;">
            <h1>Lista de Estudantes</h1>
            <a th:href="@{create}" style="margin: 6px;">
                <button type="button" class="btn btn-info text-light" style="padding: 8px;">Cadastrar</button>
            </a>
        </div>

        <div th:if="${mensagem}" th:text="${mensagem}" class="alert alert-success"></div>

        <table class="table">
            <thead class="bg-info">
              <tr>
                <th scope="col"><span class="text-light">Matrícula</span></th>
                <th scope="col"><span class="text-light">Nome</span></th>
                <th scope="col"><span class="text-light mx-1">Instituição</span><i data-toggle="popover" title="Instituição Atual" data-content="Nome da Instituição Atual" class="bi bi-question-circle text-light"></i></th>
                <th scope="col"><span class="text-light mx-1">Declaração</span><i data-toggle="popover" title="Declaração Atual" data-content="Nome e Data da Declaração Atual" class="bi bi-question-circle text-light"></i></th>
                <th scope="col"><span class="text-light mx-1">Ações</span><i data-toggle="popover" title="Ações" data-content="Tooltips" class="bi bi-question-circle text-light"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="estudante : ${estudantes}">
                <td th:text="${estudante.matricula}"></td>
                <td th:text="${estudante.nome}"></td>
                <td th:text="${estudante.instituicaoAtual != null ? estudante.instituicaoAtual.nome : ''}"></td>
                <td th:if="${estudante.declaracaoAtual != null}"> <a th:href="@{download/declaracao/{id}(id = ${estudante.declaracaoAtual.pdf.id})}"><button type="button" class="btn btn-primary"><i class="bi bi-download"></i></button></a></td>
                <td th:unless="${estudante.declaracaoAtual != null}"><a th:href="@{createDeclaracao/{id}(id = ${estudante.matricula})}"><button id="matricular" type="button" class="btn btn-primary" th:text="Criar"></button></a></td>
                <td>
                  <a th:href="@{/estudantes/create/{id}(id = ${estudante.matricula})}">
                    <button type="button" class="btn btn-primary" th:text="Editar"></button>

                  </a>
                  <a th:href="@{/estudantes/delete/{id}(id =${estudante.matricula})}">



                    <button type="submit" class="btn btn-primary" th:text="Excluir"></button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div th:replace="~{/Validation/validation :: submitSuccess}"></div>
  </section>
</body>

<script>
    $(function () {
    $('[data-toggle="popover"]').popover()
    })
</script>

</html>
